Repository wraiths-org/wraiths-core, changes with the owners that CODEOWNERS names for each.
All owners: @wraiths-org/core-team, @wraiths-org/recon-team, @wraiths-org/exploitation-team, @wraiths-org/forensics-team, @wraiths-org/malware-team, @wraiths-org/mobile-team, @wraiths-org/web-team, @wraiths-org/wireless-team, @wraiths-org/bluetooth-team, @wraiths-org/sdr-team, @wraiths-org/anonymity-team, @wraiths-org/data-team, @wraiths-org/immersion-team, @wraiths-org/toolkit-team, @wraiths-org/devops-team, @wraiths-org/docs-team

chore: clean: remove workspace-specific VS Code settings
  .vscode/settings.json
Owners: @wraiths-org/core-team

chore: cleanup: use FastAPI lifespan, simplify devcontainer, add Cursor handoff notes
  .devcontainer/devcontainer.json
  README.md
  src/main.py
Owners: @wraiths-org/devops-team, @wraiths-org/docs-team, @wraiths-org/core-team

chore: harden: bind structured lifespan metadata, add smoke test, pin Python 3.11, document LFS and local run
  README.md
  pyproject.toml
  src/main.py
  tests/test_lifespan.py
Owners: @wraiths-org/docs-team, @wraiths-org/core-team

feat(core): add /version endpoint, structured request logging middleware, dev ergonomics (Makefile, .editorconfig), and tests; docs: update README
  .editorconfig
  .pre-commit-config.yaml
  Makefile
  README.md
  src/main.py
  tests/test_main.py
Owners: @wraiths-org/core-team, @wraiths-org/docs-team

chore(core): honor LOG_LEVEL and SERVICE_PORT; add .env.example; docs: README env section
  .env.example
  README.md
  src/main.py
Owners: @wraiths-org/core-team, @wraiths-org/docs-team

feat(core): add /ready readiness endpoint; env-driven CORS/TrustedHost; security headers; optional OpenTelemetry; test updates; CI: pre-commit fast-fail; docs: README env+endpoints
  .github/workflows/ci.yml
  README.md
  src/main.py
  tests/test_main.py
Owners: @wraiths-org/devops-team, @wraiths-org/docs-team, @wraiths-org/core-team

CODEOWNERS:

# Code Owners for WRAITHS Project

# Global owners
* @wraiths-org/core-team

# Framework-specific owners
/frameworks/recon/ @wraiths-org/recon-team
/frameworks/exploitation/ @wraiths-org/exploitation-team
/frameworks/forensics/ @wraiths-org/forensics-team
/frameworks/malware/ @wraiths-org/malware-team
/frameworks/mobile/ @wraiths-org/mobile-team
/frameworks/web/ @wraiths-org/web-team
/frameworks/wireless/ @wraiths-org/wireless-team
/frameworks/bluetooth/ @wraiths-org/bluetooth-team
/frameworks/sdr/ @wraiths-org/sdr-team
/frameworks/anonymity/ @wraiths-org/anonymity-team
/frameworks/data/ @wraiths-org/data-team
/frameworks/immersion/ @wraiths-org/immersion-team
/frameworks/toolkit/ @wraiths-org/toolkit-team

# Infrastructure and CI/CD
/.github/ @wraiths-org/devops-team
/Dockerfile @wraiths-org/devops-team
/docker-compose.yml @wraiths-org/devops-team
/.devcontainer/ @wraiths-org/devops-team

# Documentation
/docs/ @wraiths-org/docs-team
/README.md @wraiths-org/docs-team
/cursor.prompts/ @wraiths-org/docs-team

# Configuration
/cursor.project.rules.md @wraiths-org/core-team
/.mcp.json @wraiths-org/core-team
/pyproject.toml @wraiths-org/core-team
